@font-face {
    font-family: "custom";
    src: url("./Fried_Nuget.otf");
}

body {
    color: #1e1e1e;
    font-size: 1.8rem;
    font-family: "custom", sans-serif;
    background-color: #bb6d6d;
    /*background-image: url("../asset/ciel.jpg");*/
}

header {
    color: #00ffff;
}