@font-face {
    font-family: "custom";
    src: url("./Fried_Nuget.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #1e1e1e;
    font-size: 1.8rem;
    font-family: "custom", sans-serif;
    background-color: #bb6d6d;
    /*background-image: url("../asset/ciel.jpg");*/
}

header {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: stretch;
    color: #00ffff;
    background-color: #862b2b;
    height: 20vh;
    padding: 15px;
}

h1, h2 {
    width: fit-content;
}

#logo {
    height: 100%;
}

#titres {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 80%;
    margin-right: 10%;
}

main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 60%;
    background-color: #ffffff46;
    padding: 30px;
    margin: 30px;
    box-shadow: #000000 2px 2px 5px 0;
    border-radius: 5px;
}

ul {
    margin-left: 20px;
}

#image {
    height: 50vh;
    width: 110%;
    background-image: url('../asset/library.png');
    background-repeat: no-repeat;
}